<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{{or site.url siteRootPath}}}">{{site.title}}</a>
      {{#if env.SITE_SEARCH_PROVIDER}}
      <div class="navbar-item search hide-for-print">
        <div id="search-field" class="field">
          <input id="search-input" type="text" placeholder="Search the docs"{{#if page.home}} autofocus{{/if}}>
        </div>
      </div>
      {{/if}}
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="{{{or site.url siteRootPath}}}">Home</a>
        <div class="navbar-item">
          <div id="theme-toggle" class="cursor-pointer hover:opacity-70 transition-opacity flex items-center justify-center w-8 h-8 structural-border">
             <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-4 h-4 text-stone-400 dark:text-stone-500">
               <circle cx="12" cy="12" r="10"></circle>
               <path d="M12 2a10 10 0 0 0 0 20Z" fill="currentColor"></path>
             </svg>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
